main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    font-family: var(--primary-font), serif;
    color: var(--foreground-primary), white;
    background-color: var(--background-primary); }

    .intro-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        gap: 10vh;
        padding: 10vh 0;
        color: var(--background-primary);
        background-color: var(--foreground-primary); }
    
        .my-photo {
            height: 250px; 
            width: 250px;
            max-height: 50vh;
            max-width: 75vw;
            background-image: linear-gradient(to bottom right, #e23e57, #88304e, #522546);
            padding: 4px;
            border-radius: 50%; }
            
        .main-intro {
            margin: 0 5vw;
            padding: 5vw;
            font-family: var(--primary-font), serif;
            text-align: justify;
            border-top: 3px solid var(--background-secondary);
            border-left: 3px solid var(--background-secondary);
            border-right: 1px solid var(--background-secondary);
            border-bottom: 1px solid var(--background-secondary);
            box-shadow: 0px 5px 10px var(--background-primary); }   
        .main-intro::first-letter {
            font-size: 2rem;
            padding-left: 30px; }

    .formal-info-container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        gap: 3vh;
        width: 100%;
        padding: 0 0 10vh 0;
        color: var(--background-primary);
        background-color: var(--foreground-primary); }

        .formal-info-container .list-title {
            font-family: var(--title-font-secondary);
            color: var(--background-primary);
            margin-bottom: 2.5vh; }

        .education-container {
            font-family: var(--primary-font), sans-serif; }

            .education-list-entry{
				display: flex;
				justify-content: center;
			    margin: 0 5vw; }

				.education-list-icon {
					font-size: 2.25rem;
					justify-content: center;
					align-items: center; }
				.education-list-icon:hover {
					opacity: 0.75; }

				.education-list-info-container {
					display: flex;
					flex-direction: column;
					text-align: left;
					margin: 0 0 0 7.5vw; }

					.education-list-uni-title {	
						flex-direction: column;
						color: var(--background-primary);
						font-family: var(--title-font-primary), sans-serif;
						font-size: 1.5rem;
						text-decoration: underline; }

					.education-list-course {
						font-size: 1.1rem;
						flex-direction: column; }

		.certifications-container {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			margin: 2.5vh 5vw 0 5vw; }

			.certification-entry {
				display: flex;
				margin-bottom: 3vh;
				height: 10vh;
				width: 100%; }

				.certification-icon-container {
					display: flex;
					justify-content: center;
					align-items: center;
					height: 100%;
					width: 10vh;
					font-size: 3rem;
					color: var(--foreground-primary);
					background-color: var(--background-primary) !important;
                    transition: all 0.3s ease; }
                .certification-icon-container:hover {
                    color: var(--hover-color); }
                

				.certification-entry-info-container {
					width: 80vw;
					padding-left: 3vw;
					font-size: 0.9rem;
					text-align: left; }

                    .certification-author {
                        font-size: 1rem;
                        font-family: var(--title-font-secondary);
                        font-weight: bold; }

					.certification-credentials {
                        display: flex;
                        align-self: flex-end;
						font-family: var(--title-font-primary);
						opacity: 0.75;
						text-decoration: underline; }

    .secondary-info-container {
        display: flex;
        flex-direction: column;
        margin: 3vh 0 10vh 0;
        gap: 4vh;
        color: var(--foreground-primary); 
        overflow: hidden; }

        .lists-container {
            display: flex;
            flex-direction: column;
            gap: 3vh;
            color: var(--foreground-primary); 
            overflow: hidden; }

            .lists-container * {
                max-width: 100%;
                max-height: 100%; }

            .info-title {
                font-size: 2.2rem;
                font-family: var(--title-font-secondary);
                text-align: center; }

            .programming-lang-list-container {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                color: var(--foreground-primary); }

                .list-title {
                    width: 100%;
                    font-size: 2rem;
                    font-weight: bold;
                    font-family: var(--title-font-primary);
                    color: var(--foreground-secondary); }

                .progrmaming-lang-list {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    width: 100%;
                    height: 100%; }

                    .programming-lang-list li {
                        display: flex;
                        align-items: center;
                        height: 10vh;
                        gap: 2.5vw; }

                        .programming-lang-icon {
                            margin-left: 5vw;
                            font-size: 2rem; }
                            
                        .programming-lang-icon:hover {
                            color: white; }
                        
                        .programming-lang-title {
                            text-align: center;
                            align-self: center; }

            .skills-container {
                display: flex;
                flex-direction: column; }

                .skills-list {
                    display: flex;
                    list-style-type: disc;
                    flex-direction: column;
                    gap: 2vh;
                    margin: 3vh 10vw; }

        .resume-container {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            width: 100%;
            height: 50%;
            gap: 3vh;
            color: var(--foreground-primary);
            background: var(--background-primary); }

            .resume-container .info-title {

            }

            .resume-btn {
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin: auto;
                height: 7.5vh;
                width: 60vw;
                background-color: var(--foreground-secondary);
                border: 3px solid var(--foreground-primary);
                border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
                box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
                transition: all 1s ease;
                z-index: 2; }
            .resume-btn:hover {
                background-color: var(--hover-color);
                transform: scale(0.9);
                box-shadow: none; }
                    
                .resume-btn span {
                    font-size: 1.2rem;
                    color: var(--background-primary);
                    text-transform: uppercase;
                    justify-content: center;
                    font-weight: bold;
                    text-align: center; }

        .resume-description {
            margin: 0 2vw 0 5vw;
            padding: 0 0 0 3vw;
            text-align: left;
            border-left: 2px solid var(--foreground-secondary);
        }


@media (orientation: landscape) {

        .certification-entry {
            width: 50%; }

}
