main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    gap: 5vh;
    font-family: var(--primary-font), serif;
    color: var(--foreground-primary);
    background-color: var(--background-primary); }

.intro-container {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 5vh;
    margin-top: 2.5vh; }

    .intro-container .list-title {
        margin-bottom: -2.5vh;}

    .my-photo {
        height: 250px; 
        width: 250px;
        max-height: 50vh;
        max-width: 75vw;
        background: var(--foreground-primary);
        padding: 2px;
        border-radius: 50%; }
        
    .main-intro {
        padding: 0 5vw;
        font-family: var(--primary-font), serif;
        text-align: center;
        line-height: 1.5rem; }
    .main-intro span {
        font-size: 2rem;
        padding-left: 30px; }

.education-container {
    width: 90%;
    font-family: var(--primary-font), sans-serif; }

    .list-title {
        width: 100%;
        font-size: 2.5rem;
        font-weight: bold;
        font-family: var(--title-font-primary);
        margin-bottom: 2vh; }

    .education-list-entry {
        display: flex;
        justify-content: center; }

        .education-list-icon {
            justify-content: center;
            align-items: center;
            font-size: 2.25rem; }

        .education-list-info-container {
            display: flex;
            flex-direction: column;
            text-align: left;
            margin: 0 0 0 7.5vw; }

            .education-list-uni-title {	
                flex-direction: column;
                font-family: var(--title-font-primary), sans-serif;
                font-size: 1.6rem;
                text-decoration: underline;
                margin-bottom: 0.8vh; }

            .education-list-course {
                flex-direction: column;
                font-size: 1.1rem;
                margin-bottom: 0.5vh; }

.expertise-container { 
    display: flex;
    width: 90%;
    flex-direction: column;
    gap: 2vh; }

    .expertise-container .list-title {
        margin-bottom: 0.5vh; }

    .expertise-item {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        text-align: left;
        gap: 1vh;
        padding: 2vh 5vw;
        border: 1.5px solid var(--foreground-primary); }

        .expertise-item-header-container {
            display: flex;
            flex-direction: row;
            width: 100%; }

            .expertise-item-header-container div{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 15%;
                font-size: 2rem; }

            .expertise-item-header-container h3{
                font-size: 1.25rem; }

        .expertise-item hr {
            border: 0;
            border-bottom: 1px solid var(--foreground-primary); }

        .expertise-item-description {
            align-self: left;
            padding: 0 0 0 5%;
            font-size: 0.9rem;
            opacity: 0.8; }

            .expertise-item-description ul {
                list-style: square; }

.certifications-container {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3vh; }

    .certifications-container .list-title {
        margin-bottom: 0; }

    .certification-entry {
        width: 90%;
        display: flex; }

        .certification-icon-container {
            height: 100%;
            width: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 3rem;
            color: var(--foreground-primary);
            background-color: var(--background-primary) !important;
            transition: all 0.3s ease; }
        
        .certification-entry-info-container {
            width: 80vw;
            padding-left: 3vw;
            font-size: 0.9rem;
            text-align: left; }

            .certification-author {
                font-size: 1rem;
                font-family: var(--title-font-secondary);
                font-weight: bold; }

            .certification-credentials {
                display: flex;
                align-self: flex-end;
                font-family: var(--title-font-primary);
                opacity: 0.75;
                text-decoration: underline; }

.skills-container {
    width: 90%; }

    .skills-list {
        display: flex;
        flex-direction: column;
        gap: 2vh; }

.resume-container {
    margin-bottom: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    gap: 2vh; }

    .resume-container .list-title {
        margin-bottom: 0.5vh; }

    .resume-btn {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
        height: 7.5vh;
        width: 60vw;
        background-color: var(--background-primary);
        border: 3px solid var(--foreground-primary);
        border-radius: 2%;
        box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
        transition: all 1s ease;
        z-index: 2; }
    .resume-btn:hover {
        color: var(--background-primary);
        background-color: var(--foreground-primary);
        transform: scale(0.9);
        box-shadow: none; }
            
        .resume-btn span {
            font-size: 1.2rem;
            text-transform: uppercase;
            justify-content: center;
            font-weight: bold;
            text-align: center; }

    .resume-description {
        margin: 1vh 4vw 0 7.5vw;
        padding: 0 0 0 4vw;
        text-align: left;
        border-left: 2px solid var(--foreground-primary); }


@media (orientation: landscape) {

    .intro-container {
        width: 66.66%; }

    .education-container {
        width: 50%; }
    
    .expertise-container {
        width: 50%; }

    .certifications-container {
        width: 50%; }

        .certification-entry {
            width: 50%; }

    .skills-container {
        width: 50%; }

        .resume-description {
            align-self: center;
            width: clamp(45ch, 50%, 75ch); }

        .resume-btn {
            width: 25vw; }

}
