main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    gap: 5vh;
    font-family: var(--primary-font), serif;
    color: var(--foreground-primary);
    background-color: var(--background-primary); }
main > div:last-child {
    margin-bottom: 7.5vh; }

main > * {
    min-height: 40vh; }

.intro-container {
    margin-top: 2.5vh;
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 2.5vh; }

    .intro-container > .main-title {
        margin-bottom: -0.5vh; }

    .intro-photo {
        height: 250px; 
        width: 250px;
        max-height: 50vh;
        max-width: 75vw;
        aspect-ratio: 1/1;
        filter: grayscale(25%);
        background: var(--foreground-primary);
        padding: 2px;
        border-radius: 50%; }

    .main-intro {
        display: flex;
        flex-direction: column;
        gap: 2vh;
        font-family: var(--primary-font), sans-serif;
        color: var(--foreground-primary-reduced-opacity);
        line-height: 1.5rem; }

		.main-intro span {
			font-size: 2rem;
			text-indent: 30px; }

.education-container {
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
    font-family: var(--primary-font), sans-serif; }

    .education-item {
        padding: 2vh 0 2vh 5vw;
        display: flex;
        flex-direction: column;
        justify-content: center; 
        gap: 2vh;
        text-align: left;
        background-color: var(--background-secondary);
        border: 1px solid var(--foreground-primary); }

        .education-item-title {
            font-family: var(--title-font-secondary);
            font-size: 1.35rem;
            font-weight: bold;
            opacity: 0.9; }

        .education-item-college-title {
            margin-top: -1.5vh;
            color: var(--foreground-primary-reduced-opacity); }

        .education-item-footnotes {
            width: 90%;
            display: flex;
            justify-content: space-between;
            font-family: var(--title-font-primary);
            font-size: 1.1rem;
            color: var(--tertiary);
            opacity: 0.9; }

.expertise-container { 
    width: 90vw;
    display: flex;
    flex-direction: column;
    gap: 2.5vh; }

    .expertise-container .main-title {
        margin-bottom: -1vh; }

    .expertise-item {
        padding: 2vh 5vw;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 1vh;
        text-align: left;
        background: var(--background-secondary);
        border: 1px solid var(--foreground-primary); }

        .expertise-item-header-container {
            width: 100%;
            display: flex; }

            .expertise-item-header-container div {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 15%;
                font-size: 2rem; }

            .expertise-item-header-container h3 {
                font-family: var(--title-font-secondary);
                font-size: 1.5rem; }

        .expertise-item hr {
            border: 0;
            border-bottom: 1px solid var(--foreground-secondary); }

        .expertise-item-description {
            align-self: left;
            padding: 0 0 0 5%;
            font-size: 0.9rem;
            opacity: 0.9; }

            .expertise-item-description ul {
                list-style: square; }

.projects-container {
    width: 90vw;
    display: flex;
    flex-direction: column;
    gap: 2.5vh; }

    .projects-main-description > a {
        text-decoration: underline; }

    .project-item {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 3vh;
        text-align: left;
        padding: 2vh 5vw;
        color: var(--background-secondary);
        z-index: 2; }

        .project-title {
            font-family: var(--title-font-secondary);
            font-size: 1.75rem; }

        .project-description {
            font-size: 0.85rem; }

        .project-tech-stack {
            display: flex;
            gap: 7.5px;
            flex-flow: row wrap;
            font-family: 'Courier New', Courier, monospace;
            font-size: 0.9rem;
            font-weight: bold; }

            .project-tech-stack > span {
                padding: 1px 0.5em;
                border: 1px solid var(--background-primary);
                border-radius: 5px; }

        .project-item-btns {
            display: flex;
            gap: 10px; }

            .project-item-btn {
                display: flex;
                gap: 5px;
                vertical-align: center;
                padding: 5px 10px;
                border: 0.5px solid var(--background-secondary); 
                border-radius: 25px;}

            .project-item-btn > i {
                font-size: 1.25rem; }

            .project-item-btn > span {
                font-size: 0.8rem; }

        .project-item-bg-img {
            position: absolute;
            height: 100%;
            width: 100%;
            margin: -2vh -5vw;
            object-fit: cover;
            object-position: center top;
            z-index: -1; }
        .project-item-bg {
            position: absolute;
            height: 100%;
            width: 100%;
            margin: -2vh -5vw;
            background: var(--foreground-primary);
            opacity: 0.7;
            z-index: -1; }

    .projects-container a:hover {
        transform: scale(1.1); }

.certifications-container {
    width: 90vw;
    display: flex;
    flex-direction: column;
    gap: 1.5vh; }

    .certifications-container > div:nth-child(2n+1) {
        display: flex;
        flex-direction: row-reverse; }

        .certifications-container > div:nth-child(2n+1) > .certification-item-info-container {
            border: 1px solid var(--foreground-primary);
            border-right: none; }

    .certification-item {
        display: flex;
        max-height: 20vh;
        background-color: var(--background-secondary); }

        .certification-icon-container {
            width: 30%;
            aspect-ratio: 1/1;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 3.5rem;
            color: var(--background-primary);
            transition: all 0.3s ease; }

        .certification-item-info-container {
            padding: 0 5% 2% 5%;
            width: 70%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: left;
            font-family: var(--title-font-secondary);
            border: 1px solid var(--foreground-primary);
            border-left: none; }

            .certification-provider {
                font-size: 1.25rem; }

            .certification-title {
                font-family: var(--primary-font);
                font-size: 0.85rem; }

            .certification-credential {
                text-decoration: 1px solid underline; }

.skills-container {
    width: 90vw; }

    .skills-list {
        display: flex;
        flex-direction: column;
        gap: 2vh; }

        .skills-list > li {
            padding: 1vh 2.5vw; }

.resume-container {
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 2.5vh; }

    .resume-container .main-title {
        margin-bottom: -1vh; }

    .resume-btn {
        margin: auto;
        height: 7.5vh;
        width: 60vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        font-family: var(--title-font-secondary);
        font-size: 1.25rem;
        font-weight: bold;
        text-transform: uppercase;
        background: var(--background-secondary);
        border: 2px solid var(--foreground-primary);
        border-radius: 2%;
        transition: all 0.5s ease; }
    .resume-btn:hover {
        transition: all 0.5s ease;
        transform: translateY(-8px); }

    .resume-description {
        width: 100%;
        padding: 0 0 0 5vw;
        text-align: left;
        border-left: 2px solid var(--foreground-primary); }

.main-title {
    margin-bottom: 1vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    font-family: var(--title-font-secondary);
    background-color: var(--background-primary); }
.main-title::before,
.main-title::after {
    content: "";
    min-width: 10vw;
    max-width: 10vw;
    flex: 1;
    border-bottom: 4px solid var(--foreground-primary); }
.main-title::before {
    margin: 0 2% 0 10%; }
.main-title::after {
    margin: 0 10% 0 2%; }

main .intro-container a,
main .education-container a,
main .certifications-container a {
    font-weight: bold;
    text-decoration: none;
    color: var(--tertiary); }

@media (orientation: landscape) {

    .intro-container,
    .education-container,
    .skills-container,
    .resume-container {
        width: 66.66vw; }

    .expertise-container,
    .projects-container,
    .certifications-container {
        display: grid;
        justify-content: center;
        align-content: center;
        grid-template-columns: 1fr 1fr;
        width: 66.66vw; }

    .education-container > .main-title,
    .expertise-container > .main-title,
    .expertise-container > .expertise-item:last-child,
    .projects-container > .main-title,
    .projects-container > .projects-main-description,
    .certifications-container > .main-title {
        grid-column: 1/3; }

        .education-item {
            padding: 5vh 2.5vw; }

        .project-item:hover > .project-item-bg {
            opacity: 0.5; }

        .resume-description {
            align-self: center;
            width: clamp(45ch, 50%, 75ch); }

        .resume-btn {
            width: 25vw; }

}
