@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
    --primary-font: "Poppins", monospace;
    --title-font-primary: "Bebas Neue", sans-serif;
    --title-font-secondary: "Pacifico", cursive;

    --foreground-primary: #151819;
    --foreground-primary-reduced-opacity: #121212ee;
    --foreground-secondary: #102442;
    --tertiary: #6293b7;
    --background-primary: #fbe9d5;
    --background-secondary: #e9e2cf;
    --hover-color: #ffff6b; 

    font-size: 16px; }

* {
    /* border: 0.1px solid red !important; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth; }

html {
    scroll-padding-top: 7.5vh;
    scrollbar-width: none; }

body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: var(--foreground-primary);
    background-color: var(--background-primary);
    font-family: var(--primary-font), sans-serif;
    font-smooth: always;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scrollbar-width: none; }

span, i {
    display: inline-block; }

a {
    color: inherit;
    text-decoration: none; }

ul {
    list-style: none; }

button {
    outline: none; }

::-webkit-selection,
::selection {
    color: var(--foreground-primary);
    background-color: var(--hover-color); }

body::-webkit-scrollbar {
    width: 0px; }

@media(orientation: landscape) {

    :root {
        font-size: 20px; }

}