:root {
    --foreground-primary:#c19277;
    --foreground-secondary: #ec4646;
    --background-primary: #252525;
    --background-secondary: #0a043c; }

* {
    box-sizing: border-box;
    /* border: 0.1px solid white; */ /* For debugging */
}

body {
    color: black;
    margin: 0;
    padding: 0;
    font-family: "Grenze Gotisch", cursive; }

/*  ==================================================================  */

header {
    display: flex;
    flex-direction: column;
    background-color: var(--background-primary); /*TODO add horizontal Linear gradient*/
    margin: 0;
    padding: 0;
    height: 95vh;
    width: 100%; }
.navbar {
    position: sticky;
    top: 0;
    display: inherit;
    justify-content: space-between;
    height: 5vh;
    width: 100%;
    z-index: 5; }
    .navbar-title {
    align-self: center; 
    color: white;
    font-family: "Poppins", serif;
    font-size: 1.7rem;
    margin: 0;
    padding: 0 2.5%; }
    .hamburger-btn {
        color: var(--background-primary);
        background-color: white;
        font-size: 2rem;
        align-self: right;
        float: right;
        height: 100%;
        width: 50px;
        border: none;
        cursor: grab ; }
    .hamburger-menu {
        display: none;
        visibility: hidden; }
    .menu-opened {
        position: absolute;
        display: flex !important; /**/
        visibility: visible !important; /**/
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        font-size: 3rem;
        color: red;
        background-color: #c19277; }

.header-main {
    display: grid;
    height: 100%;
    text-align: center;
    justify-content: space-around;
    align-content: center;
    margin-top: -20%; }
    .header-intro-title {
        color: var(--foreground-primary); }
    .header-main > h3 {
        color: var(--foreground-secondary);
        font-family: "Poppins", serif; }
    .header-button {
        color: var(--foreground-secondary);
        align-items: center;
        font-size: 1.5rem;
        background-color: var(--background-secondary);
        border:2px solid var(--foreground-secondary);
        border-radius: 50px;
        margin: 5% 0 0 0; }

/*  ==================================================================     
    ==================================================================   */

main{
    margin: 3vh 0;
    font-family: "Grenze Gotisch", serif;
    margin: 0 4vw;   }
    .intro-container{
        display: grid;
        justify-items: center;
        margin: 5vh 0;    }
        .my-photo{
            width: 250px;
            height: 250px; 
            border: 4px solid orange;
            border-radius: 50%;    }
        .main-intro{
            text-align: justify;
            font-family: "Poppins", serif;
            margin: 7.5vh 0 0 0;
            padding: 0 3vw;
            border-top: 4px solid orange;
            border-left: 4px solid orange;
            border-right: 1px solid rgba(10, 73, 118, 1);
            border-bottom: 1px solid rgba(10, 73, 118, 1);
            box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);   }
        .intro::first-letter{
                font-size: 2rem;
                padding-left: 10vw;    }
    .academic-qualifications{
        font-family: "Poppins", sans-serif;
        border: 1px solid rgba(10, 73, 118, 1);
        box-shadow: 0px 0px 10px orange;
        padding: 2.5vh 7.5vw 2.5vh 0vw;   }
        .academic-qualifications-title{
            font-size: 1.375rem;
            font-weight: bold;
            opacity: 0.8;
            padding: 0 0 0 5vw;    }

    .intro-list-divider{
        border: 2px solid rgba(10, 73, 118, 0.75);
        border-radius: 50%; 
        margin: 5vh;}

    .list-container{
        display: grid;
        grid-gap: 5vh;   }
        .programming-langs {
            background-color: teal;
            box-shadow: 10px 10px 5px  rgba(0, 0, 0, 0.2);   }
        .techs{
            background-color: plum;
            box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);    }
        .hobbies{
            background-color:  Antiquewhite;
            box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);    }
        .langs{
            background-color: Powderblue;
            box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);    }
        .main-list-titles{
            font-size: 1.25rem;
            font-weight: bold;
            font-family: "Poppins", sans-serif;
            padding: 1vh 0 0 5%;  }

@media (orientation: landscape){
    header {
        height: 100vh;
    }
    .header-main {
        margin: 0; }
    .navbar-title {
        padding: 1%; }
    main {
        margin: 0 25%;
    }
    }

/*  ==================================================================     
    ==================================================================   */

footer{
    color: white;
    background-color: rgba(0, 0, 0, 1);
    font-family: "Poppins", serif;
    text-align: center;
}

/*  ==================================================================     
    ==================================================================   */