:root {
    --primary-font: "Poppins"; /* Sans serif. */
    --title-font-primary: "Bebas Neue"; /* Sans serif. */
    --title-font-secondary: "Pacifico"; /* Cursive. */

    --foreground-primary:#fbe8d3;
    --foreground-secondary: #f85f73;
    --background-primary: #2b2e4a;
    --background-secondary: #522546; }

* {
    /* border: 0.1px solid white;  */
    margin: 0;
    padding: 0;
    box-sizing: border-box; }

body {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: space-evenly;
    color: white;
    background-color: black;
    font-family: var(--primary-font), cursive; }

span, i {
    display: inline-block; }

a {
    color: inherit;
    text-decoration: none; }

ul {
    list-style: none; }

/*
    --foreground-primary:#ec4646;
    --foreground-secondary: #ffe227;
    --foreground-secondary: #f85f73;
    
    --background-primary: #252525;

    --background-secondary: #0a043c;
    --background-secondary: #522546;

*/